* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
}

.esquerdo {
    flex: 1;
    padding: 20px;
}

.direito {
    flex: 1;
    background-color: black;
}
.cart-section, .checkout-section {
    flex: 1;
    padding: 20px;   
}
.cart-section {
    background-color: #f2efe5;
    border-radius: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.user-icon, .cart-icon {
    font-size: 24px;
}
.cart-icon {
    position: relative;
}
.cart-count {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
}  
.back-btn {
    background-color: #333;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.cart-items {
    margin-top: 20px;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #c4c4c493;
    border-radius: 8px;
}
.item img {
    width: 100px;
}
.details p {
    margin-bottom: 5px;
}
.quantity {
   width: 50px;
}
.price {
    font-weight: bold;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: center;
}

.cancel-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-section {
    color: #f4f4f4;
    border-radius: 10px;
    padding: 20px;
}

.checkout-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    padding: 50px;
}

.payment-options {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}
.payment-options img {
    width: 100px;
    cursor: pointer;
}

.card {
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}
.footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}